{% extends "layout.html" %}

{% block content %}
<table>
    <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Bought</th>
        <th>Sold</th>
        <th>Time</th>
    </tr>
    {% for t in transactions %}
    <tr>
        <th>{{ t.stock.symbol }}</th>
        <th>{{ t.shares }}</th>
        <th>{{ '{0:0.2f}'.format(t.buy_price) if t.buy_price else '' }}</th>
        <th>{{ '{0:0.2f}'.format(t.sell_price) if t.sell_price else '' }}</th>
        <th>{{ t.date_time.strftime('%d/%m/%Y %H:%M:%S') }}</th>
    </tr>
    {% endfor %}
</table>
{% endblock content %}