{% extends "layout.html" %}

{% block content %}
<h1 class="mb-4">Past Transactions</h1>
<table class="table table-hover">
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Bought</th>
        <th scope="col">Sold</th>
        <th scope="col">Time</th>
    </tr>
    {% for t in transactions %}
    <tr>
        <th>{{ t.stock.symbol }}</th>
        <th>{{ t.shares }}</th>
        <th>{{ '{0:0.2f}'.format(t.buy_price) if t.buy_price else '' }}</th>
        <th>{{ '{0:0.2f}'.format(t.sell_price) if t.sell_price else '' }}</th>
        <th>{{ t.date_time.strftime('%d/%m/%Y %H:%M:%S') }}</th>
    </tr>
    {% endfor %}
</table>
{% endblock content %}