<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finance App</title>
</head>

<body>
  <nav>
    Finance
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('auth_bp.login') }}">Login</a>
    <a href="{{ url_for('auth_bp.register') }}">Register</a>
    {% else %}
    <a href="{{ url_for('main_bp.index') }}">Dashboard</a>
    <a href="{{ url_for('main_bp.quote') }}">Quote</a>
    <a href="{{ url_for('main_bp.sell') }}">Sell</a>
    <a href="{{ url_for('main_bp.history') }}">History</a>
    <a href="{{ url_for('auth_bp.logout') }}">Logout</a>
    {% endif %}
  </nav>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>

</html>