{% extends "layout.html" %}

{% block content %}
<h1 class="mb-4">Look for a quote</h1>
<form action='' method='POST'>
    {{ quote_form.hidden_tag() }}
    <div class="form-group">
        {{ quote_form.symbol.label }}
        {{ quote_form.symbol(class_='form-control col-4 col-md-2') }}
    </div>
    <div class="mt-4">
        {{ quote_form.submit(class_='btn btn-primary') }}
    </div>
</form>
{% if share %}
<div class=" my-5 lead">
    A share of {{ share.name }} cost £ {{ share.price }}
    symbol: {{ share.symbol }}
</div>
<form action="/buy" method="POST">
    {{ buy_form.hidden_tag() }}
    {{ buy_form.symbol(value=share.symbol, hidden=True) }}
    <div class="form-group">
        {{ buy_form.shares.label }}
        {{ buy_form.shares(class_='form-control col-4 col-md-2') }}
    </div>
    <div class="mt-4">
        {{ buy_form.submit(class_='btn btn-primary') }}
    </div>
</form>
{% endif %}
{% endblock content %}