{% extends "layout.html" %}

{% block content %}
<form action='' method='POST'>
    {{ quote_form.hidden_tag() }}
    <div>
        {{ quote_form.symbol.label }}{{ quote_form.symbol }}
    </div>
    <div>
        {{ quote_form.submit }}
    </div>
</form>
{% if share %}
<div>
    A share of {{ share.name }} cost £ {{ share.price }}
    symbol: {{ share.symbol }}
</div>
<form action="/buy" method="POST">
    {{ buy_form.hidden_tag() }}
    {{ buy_form.symbol(value=share.symbol, hidden=True) }}
    <div>
        {{ buy_form.shares.label }}{{ buy_form.shares }}
    </div>
    <div>
        {{ buy_form.submit }}
    </div>
</form>
{% endif %}
{% endblock content %}