{% extends 'layout.html' %}

{% block content %}
<h1 class="mb-4">Register</h1>

<form action="" method="POST">
  {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.username.label }}
    {{ form.username(class_='form-control col col-md-4') }}
    {% if form.username.errors %}
      {% for error in form.username.errors %}
      <p class="text-danger my-2">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class_='form-control col col-md-4') }}
    {% if form.email.errors %}
      {% for error in form.email.errors %}
      <p class="text-danger my-2">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.password.label }}
    {{ form.password(class_='form-control col col-md-4') }}
    {% if form.password.errors %}
      {% for error in form.password.errors %}
      <p class="text-danger my-2">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.confirmPassword.label }}
    {{ form.confirmPassword(class_='form-control col col-md-4') }}
    {% if form.confirmPassword.errors %}
      {% for error in form.confirmPassword.errors %}
      <p class="text-danger my-2">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="mt-4">
    {{ form.submit(class_='btn btn-primary') }}
  </div>
</form>
{% endblock %}